<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Management System</title>
</head>
<body>

<header>
    <h1>Welcome to the School Management System</h1>
    <nav>
        <ul>
            <!-- <li><a th:href="@{/students}">Students</a></li> -->
            <li><a th:href="@{/teachers}">Teachers</a></li>
            <li><a th:href="@{/classrooms}">Classrooms</a></li>
            <li><a th:href="@{/subjects}">Subjects</a></li>
        </ul>
    </nav>
</header>


<main>
    <h2>School Management System</h2>
</main>

<footer>
    <p>&copy; 2025 HarizSpreco</p>
</footer>
</body>
</html>
