<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Teachers</title>
</head>
<body>
<a th:href="@{/}">HOME</a>

<h1>List of Teachers</h1>
<a th:href="@{/teachers/new}">Add New Teacher</a>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}">ID</td>
        <td th:text="${teacher.firstName}">First name</td>
        <td th:text="${teacher.lastName}">Last name</td>
        <td>
            <a th:href="@{/teachers/{id}(id=${teacher.id})}">View</a> |
            <a th:href="@{/teachers/{id}/edit(id=${teacher.id})}">Edit</a> |
            <a th:href="@{/teachers/{id}/delete(id=${teacher.id})}"
               onclick="return confirm('Are you sure you want to delete this teacher?');">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>